
/*................................. nav-Sec............................. */

.nav-Sec .navbar-brand{
    width: 120px;
}

.nav-Sec .navbar-brand img{
    width: 100%;
}

.nav-Sec .navbar-nav .nav-link {
    color : #fff;
    text-transform: uppercase;
}


.nav-Sec .navbar-nav .active>.nav-link,
.nav-Sec .navbar-nav .nav-link.active,
.nav-Sec .navbar-nav .nav-link.show,
.nav-Sec .navbar-nav .show>.nav-link {
    color: orange;
    border-bottom: 2px solid orange;

}

.nav-Sec .navbar-nav .nav-link:focus,
 .nav-Sec .navbar-nav .nav-link:hover {
    color: orange;
    border-bottom: 2px solid orange;
}



/***************************************** main-Sec********************************* */


.main-Sec .carousel-item{
    height: 400px;
}

.main-Sec .carousel-item img{
    height: 100%;
    object-fit: cover;
}

.main-Sec .carousel-caption{
    bottom: auto;
    top: 25%;
}

/**************************************** praralax-Sec *************************************/


.paralax{
   
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/lights.jpg); */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
.paralax.home{
    background-image: url(../images/lights.jpg);
}

.paralax::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    top : 0;
    left: 0;

}

.paralax.media{
    background-image: url(../images/media.jpg);
}

.img-gallary a{
    width: 350px;
    height: 100%;
    display: inline-block;
}

.img-gallary a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/****************************************** about us page ************************/

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top : 24%;
    left :-4%;
    width: 108%;

}

.tmslider img{
    border-radius: 50%;
    margin : 2px;
    border : 8px groove orange;
    

}



/* services page css */


.card-section .crd {
    transition: all 0.7s;
  }
  
  .crd:hover {

    cursor: pointer;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
 
  }
  


/************************************************** footer-Sec ****************************************/

.footer{
    background-color: black;
}

